/* =============
    hero
============= */
#hero-1 {
    background-image: url("../img/Hero/getulio-moraes-0crScaMEJj4-unsplash.jpg");
    background-position: 55% top;
    background-repeat: no-repeat;
    background-size: auto 140%;
    height: 80vh;
    @include md {
        background-position: 70% top;
        background-size: auto 140%;
    }
    @include lg {
        background-position: 0 top;
        background-size: auto 150%;
        // height: 80vh;
        // width: 100vw;
    }
    @include xl {
        background-position: center top;
        background-size: cover;
        height: 100vh;
    }

    > div {
        display: grid;
        grid-template-areas: ". hero-content .";
        grid-template-columns: 16px auto 16px;
        @include md {
            grid-template-columns: 120px auto 320px;
        }
        @include lg {
            grid-template-columns: auto 960px auto;
        }
        @include xl {
            grid-template-columns: auto 1200px auto;
        }

        article {
            grid-area: hero-content;
            margin-top: rem-calc(264px);
            @include md {
                margin-top: rem-calc(104px);
            }
            @include lg {
                margin-top: rem-calc(196px);
            }

            h1 {
                color: $off-white;
                font-size: rem-calc(40px);
                line-height: rem-calc(40px);
                @include md {
                    font-size: rem-calc(56px);
                    line-height: rem-calc(56px);
                }
                @include lg {
                    width: rem-calc(560px);
                }
                @include xl {
                    font-size: rem-calc(88px);
                    line-height: rem-calc(88px);
                }
            }

            h2 {
                color: $orange;
                font-size: rem-calc(40px);
                line-height: rem-calc(40px);
                margin-top: rem-calc(40px);
                @include md {
                    margin-top: rem-calc(120px);
                }
                @include xl {
                    font-size: rem-calc(56px);
                    line-height: rem-calc(56px);
                }
            }
        }
    }
}
