/* =============
    Base
============= */
body {
    background-color: $off-white;
    font-family: 'Poppins', sans-serif;

    // overflow-x: hidden;
}

figure {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

.section-content {
    padding: 72px 0;
    @include lg {
        padding: 96px 0;
    }
    @include xl {
        padding: 200px 0;
    }
}
