/* =============
    Navigation
============= */
nav {
    position: fixed;
    right: 24px;
    top: 15%;
    width: 80vw;
    z-index: 300;
    @include md{
        width: 40vw;
    }
    @include lg{
        width: 30vw;
    }

    ul {
        li {
            display: none;

            // border: 1px blue solid;
            @include md {
            }
            @include lg {
            }

            button {
                background-color: $blank;
                border: none;
                color: $off-white;
                cursor: pointer;
                font-size: rem-calc(28);
                // height: 100%;
                padding: 10px 0px;
                text-align: right;
                text-decoration: none;
                transition: 0.25s;
                width: 100%;
                margin-bottom: 16px;

                @include md {
                    font-size: rem-calc(32);
                    margin-bottom: 24px;

                }
                @include lg {
                    font-size: rem-calc(40);
                    margin-bottom: 32px;

                }
            }

            button:hover {
                color: $brown;
            }
        }
        li:nth-last-child(1) {
            margin-bottom: 0px;

        }
    }
}
